.home-container {
  background-color: #f8f9fa;
  padding: 20px;
  min-height: 100vh;
  background-image: url("../images/Img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
}
